<style>
    .footer .nav-link{
        padding: 0px 10px 5px 0px;
        margin-top: 0px;
    }
    .footer a {
        color: #444444;
        font-weight: 500;
        font-size: 14px;
        
    }
    .footer a:hover {
        color: black;
    }

</style>
<footer>
    <ul class="nav footer ">
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Help</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Writers</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Facebook</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Linkid In</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Privacy</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">Terms</a></li>
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#">About</a></li>
    </ul>
</footer>