{% extends '../base/base.html' %}
{% block title %}Edit Post{% endblock title %}
{% block content %}
{% include "../base/navbar.html" %}

<style>
   .fw-500 {
        font-weight: 500;
   }
</style>

<div class="container bg-white ">
    <div class="row">
        <div class="col-12 py-5 py-md-0">
            <div class="d-flex justify-content-center m-md-5 p-md-5" >
                
                <form method="POST" class="form-control p-md-5 fw-semibold bg-warning-subtle"  enctype="multipart/form-data">
                    <h2 class="text-center fw-bold">Edit Post</h2>
                    
                    <!-- Security token -->
                    {% csrf_token %}
                    
                    <!-- Using the formset -->
                    {{ form.as_p }}
                    
                    <input class="form-control btn btn-success fw-bold fs-6" type="submit" value="Update Post">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

