@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.logo {
    font-family: 'Archivo', sans-serif;
    letter-spacing: -1px;
}

html, body {

    font-family: 'Barlow', sans-serif;
}

.fw-500 {
    font-weight: 500 !important; 
}
.blog-title {
    font-size: 22px; 
    letter-spacing: -0.6px;
}

@media screen and (max-width:786px) {

    .blog-title {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .blog-author, .blog-date {
        font-size: 0.821rem;
    }
        
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.justify-words {
    text-align: justify;
    text-justify: inter-word;
}
.fs-detail {
    font-size: 1.2rem;
    letter-spacing: -0.3px;
}
.sub-title {
    font-weight: 500;
    font-size: 1.5rem;
}
.text-gray {
    color: #4d4d4d !important;
}