<div class="border-bottom border-2 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-6 py-1 my-md-5 text-center text-md-start">
                <h1 class="display-2 ">Tech Talk.</h1>
                <p class="fs-4 lh-1 text-muted fw-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores aliquam quo soluta ipsa id tenetur aliquid in asperiores.</p>
                <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-3 my-3">Start Reading</button>
            </div>
    
        </div>
    </div>
</div>